
.login{
    width: 300px;
    height: auto;
    border:  2px solid black;
    margin: 200px auto;
    padding: 20px ; 
    border-radius: 20px;
    background-color: antiquewhite;

}
.login-title{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}