nav{
    width: 1440px;
    height: 70px;
    border: 2px solid turquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    margin-left: 135px;
}
.menu-links{
    display: flex;
}
.menu-links li{
    list-style: none;
}
.menu-links li a{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    margin:0 20px;
}
.navbar-sign{
    width: 140px;
    height: 42px;
    margin-right: 135px;
    display: flex;
    justify-content: space-between;
}
.btn-sign{
    color:white;
    border: none;
    outline: none;
    background-color: black;
    font-size: 14px;
    border-radius: 10px;
    width: 84px;
    height: 42px;
    cursor: pointer;
}